<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.pyt.springcloud.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.pyt.springcloud.model.Student" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="stu_name" property="stuName" jdbcType="VARCHAR" />
    <result column="stu_age" property="stuAge" jdbcType="VARCHAR" />
    <result column="stu_class" property="stuClass" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from student
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aaa.pyt.springcloud.model.Student" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into student (stu_name, stu_age, stu_class
      )
    values (#{stuName,jdbcType=VARCHAR}, #{stuAge,jdbcType=VARCHAR}, #{stuClass,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.aaa.pyt.springcloud.model.Student" >
    update student
    set stu_name = #{stuName,jdbcType=VARCHAR},
      stu_age = #{stuAge,jdbcType=VARCHAR},
      stu_class = #{stuClass,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, stu_name, stu_age, stu_class
    from student
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, stu_name, stu_age, stu_class
    from student
  </select>
</mapper>